.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 420px;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    margin: 20px 0;
  }
  
  @media (max-width: 768px) {
    .home-page{
        height: 450px;
    }
    h1 {
        margin-top: 10px;
        font-size: 2rem;
    }
  
    p {
      font-size: 1rem;
    }
  }
  